<div class='signup-header'>
  <div class='container'>
    <div class='l-box-content'>
      <%= link_to root_path, class: 'spoty-link' do %>
        <%= image_tag '/assets/logo.svg' %>
      <% end %>
    </div>
  </div>
</div>