.signup-header {
  padding: 1.5em 0;
  background-color: black;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

.l-box-content {
  margin: 0 auto;
  max-width: 26.875em
}

.spoty-link {
  width: 150px;
  height: 59px;
  display: block;
  margin: 0 auto;
  background-size: contain;
}

img {
  width: 150px;
  height: 59px;
}