<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spoty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="containar">
        <div class="header-main">
          <div class="logo">
            <div class="logo-main"><img src="images/logo.svg"/></div>
          </div>
          <nav>
            <ul>
              <li><a href="">登録する</a></li>
              <li><a href="">ログイン</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>